<footer>
  <div
    class="flex flex-col md:flex-row justify-center items-center py-4 bg-[#CDB5B1] text-[#FFF9F3] font-light"
  >
    <p class="text-[15px]">© 2026 Loom. All rights reserved.</p>
    <p class="text-[15px]">
      @sunzcy0 |
      <a href="https://github.com/sunzcy0">GitHub</a>
    </p>
  </div>
</footer>
