<footer>
  <div class="text-center py-4 bg-[#CDB5B1] text-[#FFF9F3] font-light">
    <p>
      © 2026 Loom. All rights reserved. @sunzcy0 | <a
        href="https://github.com/sunzcy0">GitHub</a>
    </p>
  </div>
</footer>
