---
import heroImage from "../assets/pouches.jpg";
---

<div id="hero" class="">
  <section title="text" class="">
    <p class="">
      Sewing Studio in El Salvador
    </p>
    <h2 class="">
      “Every stitch, with purpose, shaping timeless pieces.”
    </h2>
  </section>
  <section title="image" class="">
    <img src={heroImage.src} alt="Pouches" class=""/>
  </section>
</div>
  