---

---

<div>
  <h1>Loom</h1>
  <nav>
    <ul>
      <li><a href="#hero">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact-us">ContactUs</a></li>
    </ul>
  </nav>
</div>