---
import pouches from "../assets/projects-pouches.jpg";
import bookSleeves from "../assets/projects-book-sleeve.jpg";
import laptopSleeves from "../assets/projects-laptop-sleeve.jpg";
import scarves from "../assets/projects-scarves.jpg";

const projects = [
  { img: pouches, title: "Pouches" },
  { img: bookSleeves, title: "Book Sleeves" },
  { img: laptopSleeves, title: "Laptop Sleeves" },
  { img: scarves, title: "Scarves" },
];
---

<div id="projects"class="">
  <div class="">
    <p
      class=""
    >
      Our work
    </p>
    <h3
      class=""
    >
      Explore our collection of handcrafted textiles
    </h3>

    <ol
      class=""
    >
      <li>Pouches</li>
      <li>Scarves</li>
      <li>Handkerchiefs</li>
      <li>Tote Bags</li>
      <li>Book Sleeves</li>
      <li>Laptop Sleeves</li>
    </ol>
  </div>

  <!-- Carousel Container -->
  <div class="flex overflow-x-auto pb-8 gap-6 snap-x snap-mandatory -mx-8 px-8 md:mx-0 md:px-0 no-scrollbar">
    {
      projects.map((item) => (
        <div class="snap-center shrink-0 w-[80vw] md:w-[400px] h-[500px] relative rounded-lg overflow-hidden group">
          <img
            src={item.img.src}
            alt={item.title}
            class="w-full h-full object-cover transition duration-700 group-hover:scale-110"
          />
          <div class="absolute inset-0 bg-black/20 group-hover:bg-black/40 transition duration-500" />
          <div class="absolute bottom-6 left-6">
            <p class="text-white font-serif text-2xl">{item.title}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>

<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
